*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 400;
}

#root {
	display: grid;
	grid-template-columns: 80px auto 200px;
	grid-template-rows: 60px 100vh 400px;
	grid-template-areas: 
	"header header header"
	"nav    main   aside"
	"footer footer footer";
	background-color: #999;
	padding: 5px;
}

.grid-item {
	background-color: #333;
	padding: 10px;
	border: 1px dashed black;
}

*::before {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 2em;
	color: wheat;
}

.header {
	grid-area: header;
}
.header::before {
	content: "header";
}

.nav {
	grid-area: nav;
}
.nav::before {
	content: "nav";
}

.main {
	grid-area: main;
}
.main::before {
	content: "main";
}

.aside {
	grid-area: aside;
}
.aside::before {
	content: "aside";
}

.footer {
	grid-area: footer;
}
.footer::before {
	content: "footer";
}