*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 400;
}

#root {
	display: grid;
	grid-template-columns: [nav-col-start] 80px [nav-col-end main-col-start] auto [main-col-end aside-col-start] 200px [aside-col-end];
	grid-template-rows: [header-row-start] 60px [header-row-end main-row-start] 100vh [main-row-end footer-row-start] 400px [footer-row-end];
	grid-template-areas: 
	"header header header"
	"nav    main   aside"
	"footer footer footer";
	background-color: #999;
	padding: 5px;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
	#root {
		grid-template-areas: 
		"header header header"
		"nav    main   main  "
		"footer footer footer";
	}

	.aside {
		display: none;
	}
}

.grid-item {
	background-color: #333;
	padding: 10px;
	border: 1px dashed black;
}

*::before {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 2em;
	color: wheat;
}

.header {
	grid-area: header;
	z-index: 1;
	opacity: 0.5;
}
.header::before {
	content: "header";
}

.nav {
	grid-area: nav;
}
.nav::before {
	content: "nav";
}

.main {
	/*grid-area: main;*/
	grid-row: header-row-start / main-row-end;
	grid-column: main-col-start / main-col-end;
	background-color: brown;
}
.main::before {
	content: "main";
}

.aside {
	grid-area: aside;
}
.aside::before {
	content: "aside";
}

.footer {
	grid-area: footer;
}
.footer::before {
	content: "footer";
}